﻿body{
  margin:0;
  padding:0;

        }
.container {
position: relative;       
margin: 0 auto;
         }   
#navbar{
    background-color:#2e354f;
    border-top-color:#9e5353;
 
}
.navbar-default{
    background-color:#2e354f;
    border-top-color:#9e5353;
}

#navlink{
         display:inline-block;
     }
#my-carousel{
         height:110%;
         width:auto;
     }  
 

.tabs{
   background-color:#2e354f;
 padding:30px 0 30px 0;
}
.tabs-tab{
    background-color:#fff;
}

.tabs ul{
    margin-bottom:5px;
}
.tabs #tablink{
    font-size:150%;
    line-height:initial;
}
.tabs p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font:small;
}
.tabs .tab-pane{
    height:100%;
    margin:20px;
}
.tabs .scrollbar{
    overflow:auto;
   border:1px solid #546393;
   border-width:5px;
   text-align:center;
   box-shadow:0 0 5px 0 rgba(0,0,0,0.5),0px 0 1px 0 #fff inset;
   border-radius:8px;
}
.tabs .scrollbar>div >p{
    font-family:'Baskerville Old Face';
    font-size:20px;
    padding:10px;
    border-bottom:1px solid rgba(121, 121, 134, 0.70);
    color:#8c8c8d;
}  

.links{
    padding-top:80px;
    padding-bottom:100px;
    background-color:#eaeaea;
}
.links #link-col-3,#link-col-2{
    margin-bottom:35px;
}
.links #link-col-3{
    padding-left:30px;
}
.links li{
    list-style-type:none;
    font-size:18px;
        border-bottom:1px solid rgba(109, 142, 132, 0.7);
}
.links #link-col-1 ul li , #link-col-3 ul li, #link-col-2 ul li{
  font-family:Verdana; 
 border-bottom-style:groove;
 margin-bottom:10px;
 padding:5px;
}
.links li a:hover {
    text-decoration-color:coral;   
    font-size:93%;
}
.links .form-group #name, #emailinput{
    height:50px;
}
.links textarea{
    resize:vertical;
    font-family:Verdana;
    font-style:normal;  
    border-color:rgba(42, 68, 60, 0.4);
}
.links input{
    border-color:rgba(42, 68, 60, 0.4);
  
}

.accreditation{
    padding-top:40px;
    padding-bottom:90px;
}
.accreditation .logos li{
     display:inline-block;
    width:10.5% ;
    height:20%;
}  
.accreditation h4{
    padding-bottom:30px;
}

.footer{
background-color:#2e2e2e;
    padding-top:50px;
    padding-bottom:50px;
}
.footer li{
    text-align:center;
    display:inline-block;
    margin-right:10px;

}
.footer p{
    text-align:center;
    color:#fff;
}

 .slider {
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: #3c5c6b;
        }

.container .jumbotron{
       padding-left:0;
    padding-right:0;
}
.jumbotron{
    padding:0;
    margin:0;
}  

.header{
    padding-top:10px;
    background-color:#2e354f;
}
.header .p{
    font-family:'Times New Roman', Times, serif;
}
.header .head{
background-color:transparent;
}
.header .col-lg-2{
    height:220px;
}
.header .col-lg-2 img{
    border-radius:5px;  
}
.header .mediaicon li{
    display:inline-block;
    list-style-type:none;
    float:right;
  
}   

.navigation{
background-color:rgba(168, 176, 172, 0.82);

}
.header li img{
      width:90%;
    height:90%;   
}

.news{
    padding-bottom:20px;
}
.news .character1 img{
width:75%;
 height:auto;

}
.news .character2 img{
width:75%;
 height:auto;
}
.news a{
    color:crimson;
}   